
.container{
  width: 70vw;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  border: 1px solid rgba(0,0,0,0.1);
}

.mat-row.hover {
  background-color: rgba(0,0,0,0.05);  
}

.mat-row.select {
  background-color: rgba(0,0,0,0.1);
}

.table-select{
  background: #f7f2fc;
}